* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272626;
  padding: 3rem;
}

header {
  padding-top: 3vh;
  z-index: 99;
  font-family: "Kumbh Sans", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  top: 0;
  gap: 1rem;
  position: fixed;
  img {
    filter: invert(1);
    height: 2rem;
    cursor: pointer;
  }
  p {
    cursor: pointer;
  }
}

aside {
  width: 20%;
  height: 100vh;
  position: fixed;
  left: -20%;
  top: 0;
  background-color: rgb(47, 47, 47);
  z-index: 999;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  p {
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 2rem;
    margin: 0 0 5rem 0;
    display: flex;
    justify-content: center;
    font-weight: 800;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
  }
}

aside.show {
  left: 0;
}

section.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 5vh;

  p {
    font-size: 5rem;
    position: absolute;
    top: calc(1rem + 5vh);
    left: 1rem;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
  }
  div.solid-color {
    width: 100%;
    height: 75vh;
    background-color: #363636;
  }
  a {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 0.5rem 2rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 9px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    cursor: pointer;
    text-decoration: none;
  }
}

section.about-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10vh;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 7s ease-in forwards;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;

  div.left {
    width: 50%;
    h3 {
      font-size: 2rem;
      font-family: "Kumbh Sans", sans-serif;
      color: white;
      margin: 3rem 0 1rem 0;
    }
    h3.about {
      margin-top: 0;
    }
    p:nth-of-type(1) {
      text-align: justify;
      text-justify: inter-word;
    }
    p {
      font-size: 1rem;
      font-family: "Kumbh Sans", sans-serif;
      color: white;
    }

    div.experiences {
      display: flex;
      gap: 6rem;
    }
    div.tools-div {
      display: flex;
      gap: 4rem;
    }
  }
  div.right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .profile-picture {
      width: 55%;
      margin-bottom: 7vh;
    }

    div.contact {
      width: 100%;
      display: flex;
      text-align: left;
      justify-content: baseline;
      align-items: center;
      gap: 1rem;
      margin-top: 3vh;
      a,
      p {
        color: white;
        font-family: "Kumbh Sans", sans-serif;
      }
      img {
        width: 5%;
      }
    }
  }
}

section.projects {
  position: relative;
  width: 100%;
  margin-block: 10vh 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  animation: fadeIn 7s ease-in forwards;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
  height: 70vh;
  gap: calc(3% / 3);
  padding-top: 10vh;

  h2 {
    position: absolute;
    top: 0;
    font-size: 2rem;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    text-align: left;
    width: 100%;
  }
  div.project-group {
    display: flex;
    /* margin-top: 10vh; */
    flex-direction: column;
    width: calc(97% / 3);
    align-items: flex-start;
    height: 100%;
    div.project {
      margin-bottom: 1.5vh;
      position: relative;
      img {
        width: 100%;
      }
      div.text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #1c1c1c;
        height: fit-content;
        padding-block: 1rem;
        opacity: 0.9;
      }
      p {
        font-family: "Kumbh Sans", sans-serif;
        color: white;
        font-size: 0.75em;
        padding-inline: 10%;
        width: 100%;
      }
    }
  }
}

@-moz-document url-prefix() {
  section.about-me {
    opacity: 1;
    animation: none;
    transform: none;
  }
  section.projects {
    opacity: 1;
    animation: none;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
