

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2E2E2E;
    padding: 3rem;
}

header{
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;

    img{
        filter: invert(1);
        height: 2rem;
    }
}

section.hero{

    p{
        font-family: 'Kumbh Sans', sans-serif;
        color: white;
        font-size: 5rem;
    }
}